<html>
<head>
  <title>New alert subscription conformation</title>
</head>
<body>

Hi !


<a href="{{url}}">Click here to unsubscribe from the alert</a>

[open communication channel for questions, conversations, and help]
Have any questions? Just shoot us an email! We’re always here to help.

Cheerfully yours,
The Meirim Team
</body>
</html>
